/* Add CSS Styling */
p.light-pink {
  background-color: lightpink;
}

div#blue {
  color: blue;
  font-size: 38px;
}

div#green {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
