/* Add CSS Styling */

button.yellow {
  background-color: yellow;
}

button.black {
  background-color: black;
  color: white;
}

.font {
  font-size: 28px;
  font-family: Helvetica, Times New Roman, sans-serif;
}
