body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 20px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 110px;
}
